<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello Links!</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/vendor.css") %>">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <div class="ui inverted large top fixed menu">
      <a href="<%= link_path(@conn, :index) %>" class="item">
        <i class="newspaper big icon"></i>
      </a>
      <%= if @conn.assigns.current_user do %>
        <div class="right menu">
          <div class="item"><%= @conn.assigns.current_user.email %></div>
          <div class="item">
            <a class="ui inverted button">Logout</a>
          </div>
        </div>
      <% end %>

    </div>

    <div class="ui main container">

      <%= info_message get_flash(@conn) %>

      <%= render @view_module, @view_template, assigns %>

    </div>
    <script src="<%= static_path(@conn, "/js/vendor.js") %>"></script>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
