<h2>Show Link</h2>

<ul>

  <li>
    <strong>Archived:</strong>
    <%= @link.archived %>
  </li>

  <li>
    <strong>Notes:</strong>
    <%= @link.notes %>
  </li>

  <li>
    <strong>Link:</strong>
    <%= @link.link %>
  </li>

</ul>

<span><%= link "Edit", to: link_path(@conn, :edit, @link) %></span>
<span><%= link "Back", to: link_path(@conn, :index) %></span>
